
:root{
    --roxo:#5c1374;
    --scarlet: #900d09;
}

body{
    background-color:white;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


header{
    background-color: var(--scarlet);
    display: flex;
    justify-content: space-between;
    color: white;
}


header img{
    padding-left: 60px;
}


.main-login{
    height: 100vh;
    background-color: var(--roxo);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}


.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 90px;
}

.login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: var(--scarlet);
    border-radius: 20px;
}

.login > h1{
    color: black;
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
    padding-right: 43px;
}

.textfield a .email{
    width: 30vh;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: black;
    background-color: white;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}


.textfield .continuar{
    width: 36vh;
    padding: 16px 0px;
    border: none;
    border-radius: 50px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: var(--scarlet);
    background-color: black;
    cursor: pointer;
}

.ou{
    margin-bottom: 10px;
}

.btn{
    width: 36vh;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: black;
    cursor: pointer;
    margin-top: 0;
}
