
:root{
    --roxo:#5c1374;
    --scarlet: #900d09;
}

body, html{
    background-color:black;
    color:white;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

header{
    background-color: var(--scarlet);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: white;
}

a{
    color: black;
    display: flex;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

a .cadastro{
    border: 2px solid;
    border-radius: 20px;
    padding: 10px;
    font-size: 19px;

}

a .cadastro:hover{
    background-color: black;
    color: var(--scarlet);
    transition: 0.15s;
}

ul{
    display:flex;
    padding-right: 50px;
    justify-content: center;
    align-items: center;
    gap:60px;
    list-style: none;
}

header img{
    height:100px;
    width:100px;
    padding-left: 60px;
}


main{
    color: white;
    display: flex;
    height: 80px;
    flex-direction: row;
    justify-content: space-between;
    margin:0;
}


main h1{
    font-size: 60px;
    padding-top: 50px;
    padding-left: 80px;
    font-weight: bold;
}

.formulario{
    position: relative;
    display: flex;
    flex-direction:column;
    gap: 15px;
    width: 400px;
    padding-left: 80px;
}

input{
    margin-top: 20px;
    height: 20px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    text-decoration: none;
    background-color: aliceblue;
}

input::placeholder{
    color: black;
    font-size: 17px;
    font-weight: bold;
}

main .procurar{
    background-color: var(--scarlet);
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    border-radius: 30px;
}

.imagem{
    padding-top: 50px;
    padding-right: 80px;
    justify-content: right;
    
}

.campo-sugestao {
    position: relative;
}

#input-inicio{
    width: 370px;

}

.sugestoes-container {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: black;
    max-height: 200px;
    overflow-y: auto;
    z-index: 999;
    border-radius: 4px;
}

.sugestao {
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
}

#input-destino{
    width: 370px;

}

